body{
    background-color: black;
}
div{
    color: white;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 5%;
    text-transform: capitalize;
}
h1{
    font-family: "Libre Baskerville", serif;
}
img{
    border: 5px solid white;
    width: 100%;

}
